{% assign splitpath = page.path | split:"/" %}
{% capture path %}{% for part in splitpath %}{% unless forloop.last %}{{ part }}/{% endunless %}{% endfor %}{% endcapture %}
{% assign pathtop = splitpath[0] %}

<nav id="tnav" class="tnav-horizontal">
  <ul class="tnav-list">

    {% if site.data.navigation_topbar %}
      <li id="tnav-logo" class="tnav-item tnav-has-children tnav-allow-hover no-dropdown-arrow tnav-left"><a href="#" accesskey="1">{{ site.name }}</a>
        <ul class="tnav-children">
          {% include pages_menu_list menu_tag='top_menu' %}
          {% include data_menu_list list='navigation_topbar' %}
        </ul>
      </li>
    {% else %}
      <li id="tnav-logo" class="tnav-item tnav-allow-hover no-dropdown-arrow"><a href="{{ site.baseurl }}/" accesskey="1">{{ site.name }}</a></li>
    {% endif %}

    {% if site.search.navbar_menu %}
      <li id="tnav-search" class="tnav-item"><a href="{{ site.baseurl }}{{ site.searchurl }}">{% include svg/search.svg %}</a></li>
    {% endif %}

    {% include share_menu_list.html %}

    <li id="tnav-menu" class="tnav-item tnav-has-children tnav-allow-hover tnav-right tnav-menu-main">
      <a href="#"><span class="tnav-menu-main">
        <span class="tnav-menu-main-text">Navigation</span>
        <span class="tnav-menu-main-glyph">{% include svg/nav.svg %}</span>
      </span></a>
      <ul class="tnav-children">
        {% assign need_divider = false %}
        {% assign hideforpath = false %}
        {% assign hideforcurrent = false %}

        {% include data_menu_list list='navigation_navbar' %}

        {% if pathtop == 'docs' and splitpath.size > 2 %}
          {% include pages_menu_list path=path ordered=true %}
          {% assign hideforpath = true %}
          {% assign hideforcurrent = true %}
        {% elsif pathtop == 'blog' %}
          {% include pages_menu_list path=path %}
          {% assign hideforpath = true %}
        {% endif %}

        {% include pages_menu_list menu_tag='navigation_menu' path=path hide_for_path=hideforpath hide_for_current=hideforcurrent %}
      </ul>
    </li>

  </ul>
</nav>
