---
layout: default
format: page
---
<main role="main" id="content" class="row">
  <div class="{% if page.fullwidth == true %}small-12 columns{% else %}medium-8 medium-centered columns{% endif %}">
    <article itemscope itemtype="http://schema.org/Article">
      <meta content="{{ site.language.html_language }}" itemprop="inLanguage" />
      <header>

        {% assign pagepath = page.path | split:'/' %}
        {% if pagepath[0] == 'docs' and pagepath.size > 2 %}
          {% assign docpath = pagepath[0] | append:'/' | append:pagepath[1] | append:'/' | prepend:'/' %}
          {% unless docpath == site.current_url %}
            {% assign verver = pagepath[1] | split:'.' %}
            {% if verver.size == 2 %}
              {% assign current_link = site.language.current_link | replace:'[current_version]',site.current_version %}
              {% capture current_href %}<a href="{{ site.baseurl }}{{ site.current_url }}">{{ current_link }}</a>{% endcapture %}
              {% assign text = site.language.not_current_version | replace:'[current_link]',current_href %}
              {% include alert text=text %}
            {% endif %}
          {% endunless %}
        {% endif %}
        
        {% include _video_embed.html %}

        {% if page.video or page.embed %}
        {% elsif page.image %}
        <figure>
          <img src="{{ site.imageurl | prepend:site.baseurl | prepend:site.url }}/{{ page.image }}" alt="{{ page.title | strip_html }}" itemprop="image">

          {% if page.caption_url and page.caption %}
          <figcaption>
            <a href="{{ page.caption_url }}" target="_blank">{{ page.caption }}</a>
          </figcaption>
          {% elsif page.caption %}
          <figcaption>
            {{ page.caption }}
          </figcaption>
          {% endif %}
        </figure>
        {% endif %}


        {% if page.link %}
          <p class="subheadline">Link</p>
        {% elsif page.subheadline %}
          <p class="subheadline">{{ page.subheadline }}</p>
        {% endif %}


        <h1 itemprop="name headline">{{ page.title | remove: '<p>' | remove: '</p>' }}</h1>
      </header>


      <div class="main-content" itemprop="articleSection">
        {% if page.quote %}<blockquote style="margin: 0;">{{ page.quote }}</blockquote>{% endif %}
        {{ content }}
      </div><!-- /.content -->


      {% if page.comments == true %}
      {% include _comments.html %}
      {% endif %}


      {% if page.show_meta == true %}
      <footer>
        <p>
          {% if page.author %}
            {{ site.language.written_by }}
        		{% assign author = site.data.authors[site.author] %}
        		{% if author.name %}{{ author.name }}{% else %}{{ page.author }}{% endif %}
          {% endif %}
          {% if page.author and page.date %}@{% endif %}
          {% if page.date %}
            {% capture time %}{{ page.date }}{% endcapture %}
            <time datetime="{{ time | truncate: 13 | remove: '...' }}" itemprop="datePublished">{{ time | truncate: 13 | remove: '...' }}</time>
          {% endif %}
        </p>
      </footer>
      {% endif %}


      {% include _pagination.html %}
    </article>
  </div>
</main><!-- /.row -->