/* Color Variables

   Colors that were hardcoded and therefore missing in schemes...

*/

/* Dark and bright stuff
------------------------------------------------------------------- */

$mix_bright:	#fff;
$mix_dark:	#000;

$box_bright:	#fff;
$box_dark:	#000;

$mark_bright:	#ff0;
$mark_dark:	#000;
