/* Color Variables
-------------------------------------------------------------------

- Corporate Identity Colorpalette
- Alerts
- Grey Scale
- Basics
- Code

*/

/* Base Colorpalette
------------------------------------------------------------------- */

$wtmcsblack:  #060607;
$wtmcsbright: #01b9ff;
$wtmcsmedium: #0a5486;
$wtmcsdark:   #114069;
$wtmcswhite:  #91d8ff;

/* Corporate Identity Colorpalette
------------------------------------------------------------------- */

$ci-1: $wtmcsbright;	// is used as the primary branding color – for example for links.
$ci-2: $wtmcsdark;	// is used as the secondary branding color.
$ci-3: $wtmcsmedium;	// ?
$ci-4: $wtmcsblack;	// Code background.



/* Alerts
------------------------------------------------------------------- */

$alert-color:   #aa0132;
$success-color: #6a9519;
$warning-color: #e05a10;
$info-color:    #0085ba;



/* Grey Scale
------------------------------------------------------------------- */

$grey-color:       #828282;
$grey-color-light: #4b4b4d;
$grey-color-dark:  #E4E4E4;



/* Basics
------------------------------------------------------------------- */

$text-color:			$wtmcsmedium;
$background-color: 		$wtmcsblack;
// Following Color used for .toc, a:visted;
$background-light-color:	$wtmcsdark;
$line-color:			$wtmcsdark;



/* Topbar Navigation
------------------------------------------------------------------- */

$topbar-navigation-background-color:	$background-color;
$topbar-navigation-border-bottom:	1px solid $line-color;



/* Footer (Meta and Site-Footer)
------------------------------------------------------------------- */

$footer-color: $wtmcsdark;
